*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.fade {
  opacity: 0.75;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.fade:hover {
  opacity: 1; }

.hero-header {
  background: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 503px; }

.interior-header {
  background: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 174px; }

nav.utility {
  clear: both;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0; }
  nav.utility ul {
    float: right;
    height: 40px; }
    nav.utility ul li {
      list-style-type: none;
      display: inline-block;
      margin: 0;
      padding: 0;
      float: right; }
      nav.utility ul li a.register {
        color: white;
        font-size: 0.75em;
        font-weight: 100;
        padding: 10px;
        margin: 0;
        background: #0f75bc;
        text-transform: uppercase; }
      nav.utility ul li a.login {
        color: #06183f;
        font-size: 0.75em;
        font-weight: 100;
        padding-left: 30px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        -webkit-border-bottom-left-radius: 50px;
        -moz-border-radius-bottomleft: 50px;
        border-bottom-left-radius: 50px;
        margin: 0;
        background: #ffdd6a;
        text-transform: uppercase; }

nav.main {
  margin-top: 0;
  min-height: 100px; }
  nav.main ul {
    margin-right: 2%;
    height: 100px; }
    nav.main ul li {
      position: relative;
      list-style-type: none;
      display: inline-block;
      text-align: right;
      height: 43px;
      top: 30px; }
      nav.main ul li a {
        color: white;
        padding: 8px 20px;
        height: 43px;
        font-weight: 100; }
      nav.main ul li a:hover {
        border: 4px solid #ffdd6a;
        border-radius: 50px;
        padding: 8px 20px;
        margin: 0 -4px; }

footer.blue {
  clear: both;
  margin: 0;
  padding: 0;
  height: 60px;
  background: #0f75bc; }
  footer.blue p {
    text-align: center;
    color: #d8d8d8;
    font-size: 0.75em;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.yellow-bg-link {
  background: #ffdd6a;
  height: 100px;
  text-align: center;
  margin: 0;
  padding: 0;
  opacity: 0.75;
  transition: opacity .25s ease-out; }
  .yellow-bg-link a div.title {
    height: 100px; }
    .yellow-bg-link a div.title h4 {
      color: black;
      padding: 0;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.yellow-bg-link:hover {
  opacity: 1;
  transition: opacity .25s ease-in-out; }

.pale-blue-cta {
  background: #f2fbff;
  height: 100%;
  margin: 4% 0;
  padding: 1% 0;
  border: none; }
  .pale-blue-cta p {
    font-size: 1.2em;
    font-weight: 100;
    padding: 7% 0 0; }
    .pale-blue-cta p span {
      font-weight: normal; }
  .pale-blue-cta a {
    color: #188ad2; }
  .pale-blue-cta a:hover {
    text-decoration: underline; }
  .pale-blue-cta button {
    display: block;
    width: auto;
    margin: 0 auto;
    font-weight: 300;
    margin-top: 11%;
    margin-bottom: 11%;
    color: #464646;
    background: #fbecb8;
    border-radius: 50px;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: .25s ease-in-out; }
  .pale-blue-cta button:hover {
    background: #ffdd6a;
    transition: .25s ease-in-out; }

div.search-ltGrey {
  background: whitesmoke;
  height: 60px; }
  div.search-ltGrey form label {
    padding: 24px 0 0;
    font-weight: bold; }
  div.search-ltGrey form select {
    margin: 12px 0 0 3%; }
  div.search-ltGrey form input[type^="text"] {
    margin: 12px 0 0 0;
    padding: 0 0 0 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; }
  div.search-ltGrey form a.goBtn {
    padding: 0;
    margin: 12px 0 0 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; }

section.register form.registerForm {
  margin: 3% 0 0; }
  section.register form.registerForm label {
    font-weight: normal; }
    section.register form.registerForm label sup {
      color: #ff6a6a; }
  section.register form.registerForm input[type="text"] {
    border-radius: 5px;
    height: 50px;
    margin-bottom: 5%;
    box-shadow: inset 1px 1px 5px #888888; }
  section.register form.registerForm input[type="password"] {
    border-radius: 5px;
    height: 50px;
    margin-bottom: 5%;
    box-shadow: inset 1px 1px 5px #888888; }
  section.register form.registerForm textarea {
    min-height: 150px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 5px #888888; }
  section.register form.registerForm select {
    border-radius: 5px;
    height: 50px; }
  section.register form.registerForm button.broker {
    border-radius: 50px;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 1.2em; }
  section.register form.registerForm small {
    text-transform: lowercase; }
  section.register form.registerForm button.registerBtn {
    display: block;
    margin: 5% auto 5%;
    border-radius: 50px;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 1.2em; }
section.register a.registerLink {
  display: block;
  margin: 1% auto 5%;
  text-align: center; }
section.register a.registerLink:hover {
  text-decoration: underline; }

section.login {
  margin: 3% 0 0; }
  section.login form.loginForm {
    margin: 3% 0 0; }
    section.login form.loginForm label {
      font-weight: normal; }
      section.login form.loginForm label sup {
        color: #ff6a6a; }
    section.login form.loginForm input[type="text"] {
      border-radius: 5px;
      height: 50px;
      margin-bottom: 5%;
      box-shadow: inset 1px 1px 5px #888888; }
    section.login form.loginForm input[type="password"] {
      border-radius: 5px;
      height: 50px;
      margin-bottom: 5%;
      box-shadow: inset 1px 1px 5px #888888; }
    section.login form.loginForm textarea {
      min-height: 150px;
      border-radius: 5px;
      box-shadow: inset 1px 1px 5px #888888; }
    section.login form.loginForm select {
      border-radius: 5px;
      height: 50px; }
    section.login form.loginForm button.broker {
      border-radius: 50px;
      padding: 15px 40px;
      text-transform: uppercase;
      font-size: 1.2em; }
    section.login form.loginForm small {
      text-transform: lowercase; }
    section.login form.loginForm label {
      font-size: 1.3em; }
    section.login form.loginForm button.loginBtn {
      display: block;
      margin: 5% auto 5%;
      border-radius: 50px;
      padding: 15px 40px;
      text-transform: uppercase;
      font-size: 1.2em; }
  section.login p.loginP {
    font-weight: 100;
    font-size: 0.875em; }
  section.login a.loginLink {
    display: block;
    margin: 1% auto 5%;
    text-align: center; }
  section.login a.loginLink:hover {
    text-decoration: underline; }

section.account h4 {
  margin: 3% 0 0;
  color: #464646; }
section.account ul.projectsList {
  list-style-type: none; }
  section.account ul.projectsList h4 {
    font-size: 1em;
    font-weight: normal;
    background: #ffdd6a;
    padding: 10px 20px; }
section.account div.serverTitle {
  background: #ffdd6a;
  width: 100%;
  height: 30px;
  text-align: center;
  color: #0f75bc;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
  margin: 5% 0 0 0; }
section.account table.myAcct {
  margin: 0 0 5% 0; }
  section.account table.myAcct th[rel="one"] {
    background: #f2fbff;
    width: 25%;
    text-align: left; }
  section.account table.myAcct th[rel="two"] {
    background: #f2fbff;
    width: 25%;
    text-align: left; }
  section.account table.myAcct th[rel="three"] {
    background: #f2fbff;
    width: 25%;
    text-align: left; }
  section.account table.myAcct th[rel="four"] {
    background: #f2fbff;
    width: 25%;
    text-align: left; }
  section.account table.myAcct th[rel="ipAdd"] {
    background: #f2fbff;
    min-width: 25%;
    font-weight: bold; }
  section.account table.myAcct td {
    width: 75%;
    font-weight: normal; }
  section.account table.myAcct td[rel="service"] {
    font-weight: normal;
    background: white; }
  section.account table.myAcct td[rel="redX"] {
    color: #b70606;
    font-weight: bold;
    text-align: center; }
  section.account table.myAcct td[rel="status"] {
    color: #b70606;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    background: #ff6a6a; }
  section.account table.myAcct td[rel="active"] {
    color: #0a8538;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    background: #6affa2; }
  section.account table.myAcct td[rel="ipInt"] {
    background: #fffae7;
    font-weight: normal; }
section.account table.myDetails {
  margin: 0 0 5% 0; }
  section.account table.myDetails th[rel="name"] {
    width: 300px; }
  section.account table.myDetails th[rel="email"] {
    width: 300px; }
  section.account table.myDetails th[rel="password"] {
    width: 300px; }
  section.account table.myDetails th[rel="edit"] {
    width: 100px;
    text-align: center; }

section.thanks {
  padding: 5% 0 20% 0; }
  section.thanks div.thanksWrapper {
    background: #e9e9e9;
    padding: 10%;
    border-radius: 10px; }
    section.thanks div.thanksWrapper h5 {
      font-size: 1.25em;
      font-weight: bold;
      color: #464646;
      text-align: center; }
    section.thanks div.thanksWrapper p {
      text-align: center; }
      section.thanks div.thanksWrapper p a:hover {
        text-decoration: underline; }

div.sidebar {
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  height: auto; }
  div.sidebar h5.contShop {
    background: #5f9ece;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    padding: 20px 0;
    margin: 0;
    height: auto;
    text-align: center;
    transition: .25s ease-in-out; }
  div.sidebar h5.contShop:hover {
    background: #0f75bc;
    transition: .25s ease-in-out; }
  div.sidebar h5.title {
    background: #6affa2;
    color: #464646;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    padding: 30px 0;
    margin: 0;
    height: 80px;
    text-align: center; }
  div.sidebar h5.cost {
    font-size: 1em;
    font-weight: normal;
    color: #464646;
    text-align: center;
    border-top: 1px solid #e9e9e9;
    padding: 20px 0 0 0; }
  div.sidebar h3 {
    font-weight: bold;
    font-size: 1.5em;
    color: #464646;
    text-align: center; }
  div.sidebar ol {
    padding: 20px 0 0 20px;
    line-height: 180%; }
    div.sidebar ol li {
      font-size: 1em;
      margin: 10px 0;
      width: 100%; }
      div.sidebar ol li button.remove {
        cursor: hand;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        background: #b70606;
        opacity: 0.75;
        color: white;
        vertical-align: middle;
        padding: 0;
        margin: 0 20px 0 0;
        font-size: 0.5em;
        position: relative;
        top: 3px; }
      div.sidebar ol li button.remove:hover {
        background: #b70606;
        opacity: 1;
        transition: .25s ease-in-out; }
  div.sidebar button.checkout {
    background: #fbecb8;
    border-radius: 50px;
    padding: 10px 40px;
    margin: 0 auto 20px;
    color: #464646;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    display: block; }
  div.sidebar button.checkout:hover {
    background: #ffdd6a;
    transition: .25s ease-in-out;
    opacity: 1; }

section.prod-detail div.prod-box-wrapper {
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  height: auto;
  padding-bottom: 10%; }
  section.prod-detail div.prod-box-wrapper img {
    padding: 30px 0 0 0;
    display: block;
    margin: 0 auto; }
  section.prod-detail div.prod-box-wrapper div.prod-box h3 {
    font-size: 1.5em;
    font-weight: normal;
    color: #464646;
    padding: 20px 0 0 0; }
  section.prod-detail div.prod-box-wrapper div.prod-box h6 {
    font-size: 0.875em;
    color: #464646; }
  section.prod-detail div.prod-box-wrapper div.prod-box h6.bold {
    font-weight: bold; }
  section.prod-detail div.prod-box-wrapper div.prod-box p {
    font-size: 1em;
    color: #464646;
    font-weight: normal; }
  section.prod-detail div.prod-box-wrapper div.prod-box button {
    border-radius: 50px;
    color: #464646;
    background: #58eb8f;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
    float: left; }
  section.prod-detail div.prod-box-wrapper div.prod-box button:hover {
    background: #6affa2;
    transition: .25s ease-in-out; }
  section.prod-detail div.prod-box-wrapper div.prod-box form.prod-detail-inputs {
    margin: 5% 0 0 0; }
    section.prod-detail div.prod-box-wrapper div.prod-box form.prod-detail-inputs label {
      font-weight: normal; }
      section.prod-detail div.prod-box-wrapper div.prod-box form.prod-detail-inputs label sup {
        color: #ff6a6a; }
    section.prod-detail div.prod-box-wrapper div.prod-box form.prod-detail-inputs input[type="text"] {
      border-radius: 5px;
      height: 50px;
      margin-bottom: 5%; }
    section.prod-detail div.prod-box-wrapper div.prod-box form.prod-detail-inputs textarea {
      min-height: 150px;
      border-radius: 5px; }
    section.prod-detail div.prod-box-wrapper div.prod-box form.prod-detail-inputs select {
      border-radius: 5px;
      height: 50px; }
    section.prod-detail div.prod-box-wrapper div.prod-box form.prod-detail-inputs select.qty {
      width: 100%; }
    section.prod-detail div.prod-box-wrapper div.prod-box form.prod-detail-inputs button.addTo {
      float: none;
      width: 50%;
      margin-top: 5%;
      display: block;
      margin: 0 auto;
      border-radius: 50px;
      padding: 15px 40px;
      text-transform: uppercase;
      font-size: 1.2em; }
    section.prod-detail div.prod-box-wrapper div.prod-box form.prod-detail-inputs small {
      text-transform: lowercase; }

section.catalog-grid {
  position: relative;
  height: 100%;
  overflow: hidden; }
  section.catalog-grid .cat-dvdr {
    border-right: 1px solid #e9e9e9;
    padding: 20px 0; }
  section.catalog-grid div.demoBlk, section.catalog-grid div.wizBlk, section.catalog-grid div.orderBlk {
    width: 33.333333%;
    height: 375px; }
    section.catalog-grid div.demoBlk h4.catalog-title, section.catalog-grid div.wizBlk h4.catalog-title, section.catalog-grid div.orderBlk h4.catalog-title {
      font-weight: normal;
      font-size: 1.5em;
      color: #0f75bc;
      top: 0;
      padding: 0;
      margin: 0;
      text-align: center; }
    section.catalog-grid div.demoBlk h6, section.catalog-grid div.wizBlk h6, section.catalog-grid div.orderBlk h6 {
      font-size: 0.875em;
      font-weight: normal;
      color: #7a7a7a;
      padding: 0;
      margin: 0;
      text-align: center; }
    section.catalog-grid div.demoBlk img.rocket, section.catalog-grid div.wizBlk img.rocket, section.catalog-grid div.orderBlk img.rocket {
      width: 30%;
      margin-top: 17%;
      margin-bottom: 4%; }
    section.catalog-grid div.demoBlk img.wizard, section.catalog-grid div.wizBlk img.wizard, section.catalog-grid div.orderBlk img.wizard {
      width: 40%;
      margin-top: 10%;
      margin-bottom: 11%; }
    section.catalog-grid div.demoBlk img.order, section.catalog-grid div.wizBlk img.order, section.catalog-grid div.orderBlk img.order {
      width: 60%;
      margin-top: 12%;
      margin-bottom: 12%; }
    section.catalog-grid div.demoBlk .cat-col:hover, section.catalog-grid div.wizBlk .cat-col:hover, section.catalog-grid div.orderBlk .cat-col:hover {
      opacity: 1;
      transition: .25s ease-in-out;
      background: #f2fbff; }

section.faq {
  margin: 3% 0; }
  section.faq h3 {
    color: #464646; }
  section.faq dl dd a {
    color: #188ad2; }
    section.faq dl dd a span.qs {
      color: #464646;
      font-weight: bold;
      padding-right: 20px; }
  section.faq dl dd div {
    color: #464646; }
    section.faq dl dd div span.ans {
      padding-right: 20px; }

section.moreInfo {
  margin-bottom: 5%; }
  section.moreInfo h3 {
    color: #464646; }
  section.moreInfo a {
    text-decoration: none; }
  section.moreInfo a:hover {
    text-decoration: underline; }
  section.moreInfo ul {
    padding: 0 0 0 20px; }
    section.moreInfo ul r
    li {
      line-height: 40px; }

section.logoFarm {
  margin: 0;
  padding: 0; }
  section.logoFarm div.bg-logoFarm {
    background: url("../img/Logo-farm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
    margin: 0;
    padding: 0; }
    section.logoFarm div.bg-logoFarm h4 {
      text-align: center;
      color: black;
      font-weight: normal;
      padding: 1% 0 0 0;
      margin: 0; }

section.broker {
  height: auto;
  padding-bottom: 3%; }
  section.broker h4 {
    text-align: center;
    color: #464646;
    padding: 5% 0 2%; }
  section.broker p {
    text-align: center;
    font-weight: 100; }
  section.broker form.broker {
    margin: 5% 0 0 0; }
    section.broker form.broker label {
      font-weight: normal; }
      section.broker form.broker label sup {
        color: #ff6a6a; }
    section.broker form.broker input[type="text"] {
      border-radius: 5px;
      height: 50px;
      margin-bottom: 5%; }
    section.broker form.broker textarea {
      min-height: 150px;
      border-radius: 5px; }
    section.broker form.broker select {
      border-radius: 5px;
      height: 50px; }
    section.broker form.broker button.broker {
      border-radius: 50px;
      padding: 15px 40px;
      text-transform: uppercase;
      font-size: 1.2em; }
    section.broker form.broker small {
      text-transform: lowercase; }
  section.broker span.vertX {
    line-height: 90px; }

section.demo {
  min-height: 600px; }
  section.demo h4 {
    text-align: center;
    color: #464646;
    padding: 5% 0 0; }
  section.demo p {
    width: 60%;
    text-align: center;
    font-weight: 100;
    display: block;
    margin: 0 auto; }
    section.demo p a:hover {
      text-decoration: underline; }
  section.demo img.demo {
    float: right; }
  section.demo form.demoForm {
    padding: 2% 0 0 0;
    display: block;
    margin: 0 auto; }
    section.demo form.demoForm div.demoInputs {
      padding: 5% 40% 5%; }
      section.demo form.demoForm div.demoInputs select {
        display: block;
        width: 400px;
        height: 40px;
        margin: 40px auto;
        border: 4px solid #0f75bc; }
      section.demo form.demoForm div.demoInputs label {
        font-size: 1em;
        display: block;
        margin: 3% 0; }
    section.demo form.demoForm button.demo {
      font-weight: bold;
      border-radius: 50px;
      padding: 15px 40px;
      text-transform: uppercase;
      font-size: 1.2em;
      display: block;
      margin: 0 auto; }

section.wizard p {
  text-align: center;
  margin: 5% 0 0; }
section.wizard form.wizardForm label {
  font-weight: normal; }
  section.wizard form.wizardForm label sup {
    color: #ff6a6a; }
section.wizard form.wizardForm input[type="text"] {
  border-radius: 5px;
  height: 50px;
  margin-bottom: 5%;
  box-shadow: inset 1px 1px 5px #888888; }
section.wizard form.wizardForm input[type="password"] {
  border-radius: 5px;
  height: 50px;
  margin-bottom: 5%;
  box-shadow: inset 1px 1px 5px #888888; }
section.wizard form.wizardForm textarea {
  min-height: 150px;
  border-radius: 5px;
  box-shadow: inset 1px 1px 5px #888888; }
section.wizard form.wizardForm select {
  border-radius: 5px;
  height: 50px; }
section.wizard form.wizardForm button.broker {
  border-radius: 50px;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 1.2em; }
section.wizard form.wizardForm small {
  text-transform: lowercase; }
section.wizard form.wizardForm div.question {
  margin: 3% 0 0; }
section.wizard form.wizardForm button.wizardBtn {
  display: block;
  margin: 5% auto 10%;
  border-radius: 50px;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 1.2em; }
section.wizard div.wizardResult {
  position: relative;
  display: block;
  margin: 3% auto;
  text-align: center;
  color: #464646;
  background: #f0f2f5;
  border: #e9e9e9;
  height: 122px;
  width: 700px;
  padding: 0 5%;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  box-shadow: inset 2px 2px 5px #888888; }
  section.wizard div.wizardResult h3 {
    color: #464646;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  section.wizard div.wizardResult img.wand {
    position: absolute;
    width: 100px;
    right: -12px;
    top: -45px; }
section.wizard h4 {
  text-align: center;
  color: #464646;
  padding: 5% 0 0; }
section.wizard p {
  text-align: center;
  font-weight: 100; }
section.wizard button.wizard {
  font-weight: bold;
  display: block;
  margin: 5% auto 35%;
  border-radius: 50px;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 1.2em; }
section.wizard button.rerun {
  display: block;
  margin: 3% auto 5%;
  background: #5f9ece;
  color: white;
  border-radius: 50px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 0.875em; }
section.wizard button.rerun:hover {
  background: #0f75bc;
  transition: .25s ease-in-out; }

div.interior-header {
  height: 220px; }

div.hero-header {
  height: 435px; }

div.cloud img {
  width: 350px;
  display: block;
  margin: 0 auto; }
div.cloud h2.hero-h2 {
  float: left;
  width: 500px;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px black;
  text-align: center; }
div.cloud p.hero-p {
  float: left;
  width: 500px;
  font-size: 0.875em;
  font-weight: 200;
  text-align: center;
  color: white;
  line-height: 155%; }

a.options3 div.estimate,
a.options3 div.learn,
a.options3 div.provider {
  width: 33.333333%;
  height: 390px;
  padding: 20px 0;
  border-bottom: 1px solid #e9e9e9; }
  a.options3 div.estimate h3,
  a.options3 div.learn h3,
  a.options3 div.provider h3 {
    text-align: center; }
  a.options3 div.estimate p,
  a.options3 div.learn p,
  a.options3 div.provider p {
    text-align: center; }
a.options3 div.estimate:hover, a.options3 div.learn:hover, a.options3 div.provider:hover {
  background-color: #0f75bc; }
  a.options3 div.estimate:hover h3, a.options3 div.learn:hover h3, a.options3 div.provider:hover h3 {
    color: white; }
  a.options3 div.estimate:hover p, a.options3 div.learn:hover p, a.options3 div.provider:hover p {
    color: white; }
a.options3 div.estimate {
  background: url("../img/estimate.png") right center no-repeat;
  background-size: 45%; }
a.options3 div.learn {
  background: url("../img/learn.png") right center no-repeat;
  background-size: 55%; }
a.options3 div.provider {
  background: url("../img/provider.png") right center no-repeat;
  background-size: 55%; }

section.cart-grid div.cart-box-wrapper {
  border: 1px solid #e9e9e9;
  border-top: none; }
  section.cart-grid div.cart-box-wrapper div.cart-box {
    margin: 20px 0; }
  section.cart-grid div.cart-box-wrapper img {
    padding-top: 2%;
    display: block;
    margin: 0 auto; }
  section.cart-grid div.cart-box-wrapper h5 {
    color: #464646;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center; }
  section.cart-grid div.cart-box-wrapper h6 {
    font-size: 0.875em;
    color: #464646;
    text-align: center; }
  section.cart-grid div.cart-box-wrapper p {
    font-size: 1em;
    color: #464646;
    font-weight: normal;
    text-align: center;
    padding-bottom: 2%; }
  section.cart-grid div.cart-box-wrapper p.ss-param {
    font-weight: bold;
    font-size: 1em;
    padding: 0 0 0 10px; }
  section.cart-grid div.cart-box-wrapper p[attr="no"]:after {
    position: relative;
    content: "X";
    font-weight: bold;
    color: #b70606;
    font-size: 1em;
    top: 1px;
    text-align: center; }
  section.cart-grid div.cart-box-wrapper p[attr="yes"]:after {
    position: relative;
    content: "OPTIONAL";
    font-weight: bold;
    color: #ffdd6a;
    font-size: 1em;
    top: 1px; }
  section.cart-grid div.cart-box-wrapper button {
    border-radius: 50px;
    color: #464646;
    background: #58eb8f;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 300; }
  section.cart-grid div.cart-box-wrapper button:hover {
    background: #6affa2;
    transition: .25s ease-in-out; }
  section.cart-grid div.cart-box-wrapper div.cart-box-wrapper:hover {
    background: #fffae7; }
  section.cart-grid div.cart-box-wrapper div.cart-box-wrapper-rmv-lftDvdr {
    border-left: none; }

section.confirmation table.confirmTable tbody button.removeCart {
  border-radius: 50px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 0.875em; }
section.confirmation table.confirmTable tbody button.catalog {
  border-radius: 50px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 0.875em; }
section.confirmation table.confirmTable tbody button.ordrBtn {
  border-radius: 50px;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 1.2em; }

section.estimator dl.estTab dd {
  width: 20%;
  text-align: center; }
  section.estimator dl.estTab dd a {
    font-size: 0.875em; }
section.estimator div.estContentBlk div.box {
  width: 280px;
  padding: 0 20px;
  margin-right: 0; }
section.estimator div.estContentBlk p {
  width: 33%;
  padding: 2% 2% 0 5%;
  font-size: 0.875em;
  float: left; }
section.estimator div.estContentBlk p.emailNotice {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  font-size: 0.75em;
  padding: 1% 3%; }
section.estimator div.estContentBlk input {
  width: 25%;
  margin-bottom: 5%; }
section.estimator div.estContentBlk button[attr="go"] {
  width: 250px;
  float: none;
  display: block;
  margin: 0 auto; }
section.estimator div.estContentBlk button[attr="reset"] {
  float: none;
  display: block;
  margin: 0 auto; }
section.estimator div.estContentBlk span.gold {
  width: 25%; }
section.estimator div.estContentBlk span.silver {
  width: 25%; }
section.estimator div.estContentBlk span.bronze {
  width: 25%; }
section.estimator div.estContentBlk p.cld-item-1and2 {
  width: 50%;
  padding: 20px 10px 0 10px;
  text-align: right; }
section.estimator div.estContentBlk p.cld-item-3and4 {
  width: 19%;
  padding: 22px 10px 0 10px;
  text-align: right; }
section.estimator div.estContentBlk p.cld-item4 {
  width: 35%;
  padding: 18px 10px 0 10px;
  text-align: right; }
section.estimator div.estContentBlk p.cld-item4b {
  width: 31%;
  padding: 18px 10px 0 10px;
  text-align: right; }
section.estimator div.estContentBlk p.p-itemNth2 {
  padding-left: 18px; }
section.estimator div.estContentBlk input.estInput {
  width: 15%;
  margin-right: 1%;
  margin-top: 2%;
  float: left; }
section.estimator div.estContentBlk input.vms {
  width: 10%;
  margin-right: 1;
  margin-bottom: 4%;
  margin-top: 2%; }
section.estimator div.estContentBlk label.gb-3 {
  width: 4%;
  padding-left: 10px;
  padding-top: 2%; }
section.estimator div.estContentBlk label.gb-4 {
  width: 4%;
  padding-top: 2%; }
section.estimator div.estContentBlk table.estGlobalTable-tab1and2 thead tr th[attr="totals"],
section.estimator div.estContentBlk table.estGlobalTable-tab1and2 thead tr th[attr="vetFacing"],
section.estimator div.estContentBlk table.estGlobalTable-tab1and2 thead tr th[attr="contDist"],
section.estimator div.estContentBlk table.estGlobalTable-tab1and2 thead tr th[attr="dataWare"] {
  font-size: 0.875em; }
section.estimator div.estContentBlk table.estGlobalTable-tab1and2 thead tr th[attr="totals"] {
  text-align: left;
  width: 40%; }
section.estimator div.estContentBlk table.estGlobalTable-tab1and2 tbody tr td {
  font-size: 0.875em; }
section.estimator div.estContentBlk table.estGlobalTable-tab3 {
  width: 100%; }
  section.estimator div.estContentBlk table.estGlobalTable-tab3 th[attr="totals"] {
    width: 60%; }
  section.estimator div.estContentBlk table.estGlobalTable-tab3 tbody tr td {
    font-size: 0.875em; }
section.estimator div.estContentBlk table.estGlobalTable-tab4 th[attr="totals"],
section.estimator div.estContentBlk table.estGlobalTable-tab4 th[attr="lineItemChange"],
section.estimator div.estContentBlk table.estGlobalTable-tab4 th[attr="exclEntAdmin"] {
  font-size: 0.875em; }
section.estimator div.estContentBlk table.estGlobalTable-tab4 th[attr="totals"] {
  width: 40%; }
section.estimator div.estContentBlk table.estGlobalTable-tab4 tbody tr td {
  font-size: 0.875em; }
section.estimator div.estContentBlk div.table-tab5Wrapper {
  height: 500px; }
  section.estimator div.estContentBlk div.table-tab5Wrapper table.estGlobalTable-tab5 th[attr="lid"] {
    width: 35%; }
  section.estimator div.estContentBlk div.table-tab5Wrapper table.estGlobalTable-tab5 th[attr="unitType"] {
    width: 15%;
    text-align: left; }
  section.estimator div.estContentBlk div.table-tab5Wrapper table.estGlobalTable-tab5 th[attr="ppuTh"] {
    text-align: center;
    width: 15%; }
  section.estimator div.estContentBlk div.table-tab5Wrapper table.estGlobalTable-tab5 th[attr="qtyTh"] {
    width: 15%;
    text-align: center; }
  section.estimator div.estContentBlk div.table-tab5Wrapper table.estGlobalTable-tab5 input[attr="quantity"] {
    font-size: 1em;
    width: 100%; }
  section.estimator div.estContentBlk div.table-tab5Wrapper table.estGlobalTable-tab5 td[attr="ppu"] {
    text-align: right; }
section.estimator div.estContentBlk table.panel5grandTotal td[attr="p5gTtlTd"] {
  width: 75%;
  text-align: right; }
section.estimator div.estContentBlk table.panel5grandTotal input[attr="p5gTotal-5"] {
  width: 100%; }
section.estimator div.estContentBlk div.grandTotalRow {
  display: none; }
section.estimator div.estContentBlk div.grandTotalRowWide {
  width: 100%; }
  section.estimator div.estContentBlk div.grandTotalRowWide p.gtHdr {
    font-size: 1em;
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 1% 0; }
  section.estimator div.estContentBlk div.grandTotalRowWide label {
    float: left;
    font-weight: bold;
    text-align: center;
    width: 45%;
    margin: 0;
    padding: 10px 0; }
  section.estimator div.estContentBlk div.grandTotalRowWide div[attr="gTotalRow"] {
    background: #6affa2;
    width: 33.333333%;
    float: left;
    margin-bottom: 20px;
    padding: 10px 0; }
    section.estimator div.estContentBlk div.grandTotalRowWide div[attr="gTotalRow"] input[attr="p5gTotal"] {
      width: 100%; }
    section.estimator div.estContentBlk div.grandTotalRowWide div[attr="gTotalRow"] input[attr="gTotal"] {
      width: 48%;
      font-size: 1.125em;
      display: block;
      margin: 0 auto; }
section.estimator div.estContentBlk p.emailP {
  width: 75%;
  font-size: 0.875em;
  text-align: left;
  padding: 2% 5%;
  float: left; }
section.estimator div.estContentBlk button.email {
  width: 15%;
  float: right;
  color: white;
  margin-top: 20px;
  margin-right: 10%;
  background: #5f9ece;
  transition: .25s ease-in-out;
  border-radius: 50px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 0.875em; }
